.container {
  background-color: blanchedalmond;
  border: 1px solid black;
  width: 250px;
  height: 300px;
}

.col {
  padding: 10px;
}

.btn {
  width: 100%;
}

.form-control {
  border: 1px solid gray;
}
